<div class="img_container">
    <img class="img-fluid" src="../assets/Avalehe-pilt_kitsam-1.jpg" alt="">
    <a class="btn" href="/teenused">Broneeri aeg</a>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col ms-auto" style="padding-right: 50px; padding-top: 50px;">
            <div class="wrapper text-center">   
            <div class="heading">Ginger ilusalong</div>             
            <div class="intro">Meie eesmärk on pakkuda klientidele uusimaid moesuundi, arvestades klientide isikupära ja stiiliga.
                     Vähemalt kaks korda aastas toimuvad kõigile salongi juuksuritele täiendavad koolitused hetke soengutrendidest.
                      Tänu tugevale koolitussüsteemile loodame, et suudame klientidele pakkuda alati uusi ja värskeid ideid.</div>
            </div>
            
        </div>
        <div class="col me-auto" style="padding-top: 50px;">
            <div class="text-center">
                <div class="heading">Uudised
                    <div class="news">Uudis 1</div>
                    <div class="news">Uudis 2</div>
                    <div class="news">Uudis 3</div>
                    <div class="news">Uudis 4</div>
                    <div class="news">Uudis 5</div>
                    <div class="news">Uudis 6</div>
                </div>
            </div>
        </div>
    </div>
    
</div>