<a class="navbar navbar-brand" href="#">
  <img class="mx-auto" src="assets/logo-ginger.png" alt="..." height="58">
</a>
<nav class="navbar navbar-expand-lg navbar-light static-top border-bottom">
  <div class="container">
    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" href="#">Esileht</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link active" href="/teenused">Teenused</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link active" href="/tootajad">Töötajad</a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link active" href="/salongist">Salongist</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="pb-3"></div>
